<div class="container">
    @for (data of headerData; track data.id) {
        <span (click)="sortBy(data)">
            <span class="toggleSortIcon">
                @if (prevValueId === data.id) {
                    <i
                        class="fas"
                        [class]="
                            data.dir === 'desc'
                                ? 'fa-angle-down'
                                : 'fa-angle-up'
                        "></i>
                }
            </span>
            <span>
                {{ data.name }}
            </span>
        </span>
    }
</div>
