.container {
    width: 800px;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 25% 25% auto;
    align-content: center;
    cursor: pointer;

    > span {
        height: 100%;
        border-right: 1px solid black;
        display: grid;
        grid-template-rows: 5px 1fr;
        width: 100%;

        > span {
            padding-left: 0.3rem;
        }

        .toggleSortIcon {
            text-align: center;
            i {
                font-size: 0.8rem;
                color: rgb(41, 40, 40);
            }
        }

        &:hover {
            background-color: rgb(179 207 248 / 88%);
        }
    }
}
