.container {
    width: 800px;
    height: 27px;
    display: grid;
    grid-template-columns: 40% 25% 25% auto;
    align-content: center;
    cursor: pointer;

    > div {
        padding-left: 0.3rem;
        border-right: 1px solid black;
    }
}
