<div class="container">
    <span class="icon">
        <i class="fas fa-folder"></i>
    </span>
    <div class="path">
        @for (pathPart of currentPath; track pathPart; let ind = $index) {
            <span>
                @if (pathPart) {
                    <i class="fas fa-angle-right"></i>
                }
                <span
                    class="path-name"
                    (click)="getPath(pathPart, ind)"
                    (keyup.enter)="getPath(pathPart, ind)"
                    aria-hidden="true">
                    {{ pathPart }}
                </span>
            </span>
        }
    </div>
</div>
